/* TODO prefix name with unique string */

.flex-row {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-justify-start {
	justify-content: start;
}
.flex-justify-between {
	justify-content: space-between;
}
.flex-justify-end {
	justify-content: end;
}
.flex-align-center {
	align-items: center;
}
.flex-grow {
	flex-grow: 1;
}
.flex-noshrink {
	flex-shrink: 0;
}

.root {
	padding: 2px 4px;
}
.root .leaf {
	margin: 2px 4px;
}
.root-border {
	border: thin solid #c3c4c7;
}
